body {
  background-color: #002b36;
}

h1 {

  border-bottom: 1px solid #d6d6d6;
  font-weight: bold;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 32px;
  padding-bottom: 10px;

}

p {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 18px;
  color: white;
  margin: 20px;
}

a {
  text-decoration: none;
  color: white !important;
}

a:link {
  color: white;
}

a:hover {
  text-decoration: underline;
  border-bottom: 1px #fff solid;
}

a:focus {
  text-decoration: none;
}

.main {
  margin-left: 2em;
  margin-right: 2em;
}

.contact {
  margin-top: 3em;
}

.portfolio-item {
  max-width: 50%;
}

.img-responsive {
  max-width: 100%;
}

.blinking-cursor {
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@media only screen and (max-width: 767px) {

   h1 {
      font-size: 22px;
   }
   .main {
     margin-left: 0.5em;
     margin-right: 2em;
   }
}
